<section class="join-us">

    <h1>About Us</h1>

    <mat-divider></mat-divider>

    <p>Join the Rhythmic Moves community and embark on a dance journey with us! Immerse yourself in the joy of movement
        and rhythm at our vibrant practice sessions held every Tuesday evening:</p>

    <ul>
        <li>Beginners: 5:30 pm to 6:00 pm</li>
        <li>Regular Practice: 6:00 pm to 8:00 pm</li>
    </ul>

    <p>Find us at <a href="https://www.google.com/maps/place/2856+W+Sterns+Rd,+Lambertville,+MI+48144/@41.7498182,-83.616735,17z/data=!3m1!4b1!4m6!3m5!1s0x883c807328736fa7:0xdf06e8a68cd4ae46!8m2!3d41.7498142!4d-83.6141601!16s%2Fg%2F11c4rht5nj?entry=ttu">2856 Sterns Rd., Lambertville, MI</a>, nestled between Summerfield and Secor Rd. Our welcoming space
        invites you to experience the magic of dance in a friendly and inclusive environment.</p>

    <p>Here's why you should make Beford Cloggers your dance home:</p>

    <ul>
        <li>🎉 <strong>Free Admission:</strong> Our practice sessions are open to all without any cost, ensuring that
            everyone can dance without barriers.</li>
        <li>🕺 <strong>Dynamic Sessions:</strong> From beginner-friendly routines to advanced moves, our diverse
            practices cater to all skill levels. Whether you're new to dance or looking to refine your skills,
            there's a place for you in our community.</li>
        <li>📍 <strong>Convenient Locati on:</strong> Centrally located at 2856 Sterns Rd., our dance space is easily
            accessible between Summerfield and Secor Rd.</li>
        <li>🔄 <strong>Flexibility:</strong> While we provide a consistent schedule, practice sessions are subject to
            change. Feel free to call ahead to confirm or plan a visit. Visitors are not only welcome but encouraged
            to join us and witness the magic of Rhythmic Moves.</li>
    </ul>

    <p>Ready to take the first step? Connect with us to express your interest or inquire about joining our dance
        group. We're just a message away:</p>

    <ul>
        <li>📞 Call <a href="tel:419-350-6045">Susan Beaver at 419-350-6045</a> or <a href="tel:419-350-6659">MaryAnn McBee at 419-350-6659</a></li>
        <li>📧 Email us at <a href="mailto:bedfordcloggers@gmail.com">bedfordcloggers&#64;gmail.com</a> or <a href="mailto:Cloggersue1958@sbcglobal.net">Cloggersue1958&#64;sbcglobal.net</a></li>
    </ul>

    <p>Join Rhythmic Moves – where every step tells a story, and every dancer is part of a welcoming community!</p>
</section>