<section class="call-to-action">
    <img class="hero-image" [src]="'../../assets/dancers_1_cropped.png'" />
    <div class="text">

        <h1 class="primary">Step into the spotlight</h1>
        <h2 class="secondary">Connect, Create, and Celebrate Dance!</h2>
        <h5 class="tertiary">Meet Fellow Dance Enthusiasts: Share your love for dance and learn from others in a supportive environment.</h5>
        <h5 class="tertiary">Learn from Experienced Instructors: Our instructors are passionate about dance and have years of experience.</h5>
        <h5 class="tertiary">Perform on Local Stages: Showcase your talent and hard work at local events and performances.</h5>
    </div>
</section>