<section class="call-to-action">
    <div>Hi</div>
    <img class="hero-image" [src]="'../../assets/dancers_1_cropped.png'" />
    <div class="text">

        <h1 class="primary">Step into the spotlight</h1>
        <p class="tertiary">Meet Fellow Dance Enthusiasts: Share your love for dance and learn from others in a supportive environment.</p>
        <p class="tertiary">Learn from Experienced Instructors: Our instructors are passionate about dance and have years of experience.</p>
        <p class="tertiary">Perform on Local Stages: Showcase your talent and hard work at local events and performances.</p>
    </div>
</section>

<section class="about-us">

    <h1>About Us</h1>

    <mat-divider></mat-divider>
    <p>Welcome to the exciting world of clogging! We are a vibrant and passionate clogging dance group based in the
        beautiful regions of Southeast Michigan and Northwest Ohio.
        With our roots deeply intertwined in the rich cultural heritage of American tap dancing and Irish step dancing, we
        bring to life the rhythmic magic of clogging.</p>
  
      <p>At our core, we are a performance-oriented ensemble, showcasing our lively and energetic dance routines at a wide
        range of events and venues. From the thrill of fairs and festivals to the heartwarming visits to nursing homes,
        our cloggers spread joy and entertainment wherever they go. We add flair to reunions, fundraisers, and birthday
        parties, making every occasion a memorable one with our toe-tapping rhythms and synchronized movements.</p>
  
      <p>Unlike some clogging groups that focus on competition, our philosophy centers on fostering a supportive and
        inclusive environment for all dancers. We are a non-competitive group, prioritizing the enjoyment of learning and
        dancing over winning trophies. With a belief in the power of encouragement, we motivate each other to do our best,
        celebrate individual progress, and embrace the camaraderie that comes with being part of our dance family.</p>
  
      <p>Clogging, with its fascinating history, holds a special place in the realm of dance. Originating on the porches
        of Appalachian Mountain communities, this lively form of expression has evolved over time, incorporating unique
        elements like the distinctive buck taps on our shoes. Our dedicated instructors teach a repertoire of routines
        that encompass the eight basic clogging steps, allowing us to create captivating performances set to a diverse
        range of music genres, from classic country melodies to the latest pop hits.</p>
  
      <p>Joining our clogging group means more than just dancing—it's an invitation to embark on an exciting journey of
        exercise, fun, and friendship. Regardless of age or gender, whether you're a child, teen, woman, or man, we extend
        a warm welcome to anyone interested in becoming a part of our vibrant community. If you're considering joining us,
        you'll find all the necessary contact information under the "Join Us" tab, where we'll be thrilled to provide you
        with further details and answer any questions you may have.</p>
  
      <p>If you're not quite ready to commit but are curious about our dance style, we wholeheartedly invite you to visit
        us as a guest. Witness the enthusiasm, skill, and sheer joy of our cloggers firsthand, and experience the
        infectious energy that permeates our practices. Feel free to observe our routines, interact with our members, and
        discover the captivating world of clogging for yourself.</p>
  
      <p>Thank you for visiting our new website, and we hope the enhanced information provided above gives you a deeper
        understanding of our clogging group. Feel free to explore the various sections of the site to learn more about our
        upcoming performances, community involvement, and the incredible impact that clogging can have on our lives. We
        look forward to dancing, learning, and making cherished memories together.</p>
</section>