.call-to-action {

    background: black;
    position: relative;
    text-align: center;

    img.hero-image {
        opacity: .2;
        width: 100%;
        object-fit: cover;
    }

    div.text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        h1, h2, p {
            padding: 5px;
            margin: 0px;
        }

        h1.primary {
            font-size: 4rem;
        }

        @media (max-width: 768px) {
            h1.primary, h2.secondary, p.tertiary {
                font-size: .9rem;
            }
        }

        // h1.primary {
        //     font-size: 3rem;
        // }
        // h2.secondary {
        //     font-size: 2rem;
        // }
        // p.tertiary {
        //     font-size: 1rem;
        // }

    }

}

.about-us {
    padding: 10px;
}